input {
    font-size: 1.25rem;
    border-color: #3a3a48;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border-width: 0.2rem;
    width: 50rem;
    margin-bottom: 2rem;
}

input:hover {
    border-color: #3a3a50;
}

label {
    font-weight: bold;
    display: block;
    font-size: 20px;
    margin-bottom: .5rem;
    color: #33a8a9;
    text-align: center;
}

.select {
    font-size: 1.25rem;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border-width: 0.2rem;
    width: 50rem;
    margin: 0 auto;
    background-color: #242424;
    flood-color: #242424;
}